
@import url('http://fonts.cdnfonts.com/css/georgia');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', sans-serif;
}
.btn_icon{
  position: fixed;
  top: 15px;
  left: 94%;
  height: 42px;
  width: 42px;
  text-align: center;
  background: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
  display:none;
}
.btn_icon.click{
  position: fixed;
  left: 94%;
}
.btn_icon span{
  color: rgb(211, 211, 211);
  font-size: 28px;
  line-height: 45px;
}
.btn_icon.click span:before{
  content: '\f00d';
}
.sidebar-menu {
  position: absolute;
  width: 250px;
  padding-top: 5rem;
  height: 100%;
  background: #ffffff;
  transition: left 0.4s ease;
}
.sidebar-menu.show{
  left: 0px;
}
.sidebar-menu .text{
  color: rgb(2, 2, 2);
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid rgb(207, 207, 207);
  letter-spacing: 1px;
}
 .nav-list__menu{
  background: #ffffff;
  height: 100%;
  width: 100%;
  list-style: none;
}
 .nav-list__menu li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
 .nav-list__menu li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
 .nav-list__menu li a{
  position: relative;
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
 .nav-list__menu li.active a{
  color: rgb(39, 39, 39);
  background: #ffffff;
  /* border-left-color: rgb(0, 38, 121); */
}
 .nav-list__menu li a:hover{
  background: #dfdfdf;
}
 .nav-list__menu ul{
  position: static;
  display: none;
}
 .nav-list__menu .feat-show.show{
  display: block;
}
 .nav-list__menu .serv-show.show1{
  display: block;
}
 .nav-list__menu ul li{
  line-height: 42px;
  border-top: none;
}
 .nav-list__menu ul li a{
  font-size: 17px;
  color: #3b3b3b;
  padding-left: 80px;
}
 .nav-list__menu li.active ul li a{
  color: #383838;
  background: #ffffff;
  border-left-color: transparent;
}
 .nav-list__menu ul li a:hover{
  color: rgb(36, 36, 36)!important;
  background: #e9e9e9!important;
}
 .nav-list__menu li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
.nav-list__menu li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content_body{
  padding: 19rem;
  margin: 0 auto;
}

.content_body p{
  font-size: 30px;
  font-weight: 500;
  z-index: 99;
  
}


@media (max-width:1024px) {
  .btn_icon{
    display:block
  }
  .sidebar-menu {
    position: fixed;
    left: -250px;
  }
}